/*
 * Main stylesheets, layouting etc.
 */

body {
}

div.header-container {
	margin-top: 1em;
}

div.main-container {
	margin-top: 1em;
}

div.main-container .card .card-header {
	background-color: #aaffbb;
}

div.debug-container {
	margin-top: 1em;
}

div.debug-container .card .card-header {
	background-color: #fff697;
}

div.debug-container h1 {
	font-size: 150%;
	font-weight: bold;
}

#debug-output-box {
	border: 1px solid gray;
	background-color: #ffffdd;
	padding: 1em;
}

.btn {
	margin-bottom: 1em;
}
